<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pro4.smartbarbell">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.example.pro4.smartbarbell"
            android:value="190675105608" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StatsActivity" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calender"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/title_activity_workout" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".AccountActivity" />
    </application>

</manifest>